#centre
  %h1 A-Z index of users of this site
  = render 'site/sub_indexes'
  
  #content
    - if current_user && current_user.administrator?
      - cache do
        = picture_link_list @users
    - else
      %p Only visible to administrators
      
#right= render 'pages/right_bar'
