#help.cost_content
  %h2 Notes
  
  %p Please use this section to add:
  %ul
    %li Items that this cost includes
    %li Items that this cost excludes
    %li Detail on the conditions under which this cost is valid
    %li Explanations as to why this cost differs from others
    %li Limitations of this cost estimate
