#help.cost_cost_efficiency
  %h2 Typical efficiency
  
  %p This field is optional. Use it to record the typical efficiency (if any) reported for this technology in this source. By efficiency we mean the ratio of useful energy out to energy in. We prefer useful output to be measured after any local losses and any local parasitic or on site loads. Where applicable, we prefer energy in to be the gross calorific value.
  
  %p If there is no data, leave it blank.

  For example:
  %p
    = update_efficiency_to '37%'
    which means the useful energy output is 37% of the energy input.
  

  = render 'known_units_power'