%h4 The Rules

%ol
  %li Everything you write may be made public
  %li Off-topic or impolite messages will result in your account being blocked
  
%h4 Help
  
%p Just write what you want to say. If you write the name of another page, a link will be made automatically.
%p To create headings, write: 
%pre
  h1 the title of your heading
  h2 the title of your sub-heading
  h3 the title of your sub-sub-heading
  h4 etc
%p To create a numbered list, write:
%pre
  \# The first item
  \# The second item
  \# The third item
  \# etc
%p To create a bullet list, write:
%pre
  \* The first item
  \* The second item
  \* The third item
  \* etc
%p To insert a reference or footnote, just put it in square brackets
%pre
  This is a bold claim[This is the source of that claim].
/ %p To insert a picture, add the picture and then reference its title by using insert
/ %pre
/   insert map of the UK
%p To create a table, either copy and paste from excel, or write it like this:
%pre
  | cell A1 | cell B1 | cell C1 |&nbsp;
  | cell A2 | cell B2 | cell B2 |&nbsp; 
%p To making a phrase bold, surround it with *asterixes*
%pre
  This is something *terribly important* that you should read.
