#centre
  %h1 All cost sources

  #content
    %ul
      - @cost_sources.visible.order(:title).all.each do |cost_source|
        %li= link_to cost_source.label, cost_source

#right= render 'pages/right_bar'