#help.cost_category_cost_boilerplate
  %h2 Boilerplate text for new costs in this category
  
  %p Text in this field will be inserted into any new cost data added to this category.
  
  %p Edit it in order to prompt people adding data to note important aspects of the cost that they are submitting.
  
  %p For instance, for nuclear power you might explicitly prompt for the user to add a note about how that source is treating the cost of decommissioning and long term waste storage.
