#centre
  %h1 All Cost Categories

  #content
    %ul
      - @cost_categories.order(:title).visible.each do |category|
        %li= link_to category.label, category
        
#right= render 'pages/right_bar'