%ul#master_links
  %li= link_to_unless_current "home page", root_url
  %li= link_to_unless_current "a-z index", index_url
  %li= link_to_unless_current "recent changes", recent_changes_url
  %li= link_to_unless_current "search", search_url