%ul#subindexes
  Sub indexes:
  %li= link_to_unless_current "categories", categories_url
  %li= link_to_unless_current "pages", pages_url
  %li= link_to_unless_current "pictures", pictures_url
  %li= link_to_unless_current "users", users_url
