<p>Welcome to the 2050 Wiki</p>

<p>Please confirm your account by clicking the link below:</p>

<p><%= link_to 'Confirm my account', confirmation_url(@resource, :confirmation_token => @resource.confirmation_token) %></p>

<p>If you have any questions, please contact tom.counsell@decc.gsi.gov.uk</p>

<p>With best wishes</p>

<p>Tom Counsell</p>