<p>Hello <%= @resource.email %>!</p>

<p>Someone has requested a link to change your password on the 2050 Wiki.</p>
  
<p>You can do this by clicking on the link below:</p>

<p><%= link_to 'Change my password', edit_password_url(@resource, :reset_password_token => @token) %></p>

<p>If you didn't request this, please ignore this email.</p>

<p>Don't worry, your password won't change unless you click on the link above and create a new one.</p>

<p>If you have any questions, please contact <a href='mailto:2050pathways@decc.gsi.gov.uk'>2050pathways@decc.gsi.gov.uk</a></p>

<p>With best wishes</p>

<p>Tom Counsell</p>
