<p>Hello</p>

<p>Your account on the 2050 Wiki has been locked because the wrong password has been entered several times.</p>

<p>Click the link below to unlock your account:</p>

<p><%= link_to 'Unlock my account', unlock_url(@resource, :unlock_token => @resource.unlock_token) %></p>

<p>If you have any questions, please contact joseph.downie@decc.gsi.gov.uk</p>

<p>With best wishes</p>

<p>Joe Downie</p>